## IBM Applied Data Science Capstone Course by Coursera

### Week 3 part 1

#### 1. Imports

In [1]:
import pandas as pd
import numpy as np

#### 2. Read wiki data into pandas dataframe

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, header=0)[0]
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

#### 3. Process the dataframe

###### 3.1 Rename columns

In [ ]:
df.rename(columns={'Postcode':'PostalCode', 'Neighbourhood':'Neighborhood'}, inplace=True)
df.head()

###### 3.2 Drop rows that don't have assigned borough

In [7]:
df['Borough'].replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

###### 3.3 Group rows with same postal code and concatenate neighborhood s

In [ ]:
df['Neighbourhood'].replace('Not assigned', df['Borough'], inplace=True)
df

In [ ]:
grouped_df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
grouped_df.head()